# Rust
/target
**/target

# Python
**/.venv
**/__pycache__/
**/*.pyc
**/build/
**/dist/
**/*.egg-info/

# wasm-pack
pkg/

# Flutter/Dart
**/.dart_tool/
**/.packages
**/build/

# Editor
.vscode/
.idea/
.DS_Store
